/* Media Queries */
@media screen and (max-width:615px) {

    .menu {
       gap:1.2rem;
    }

    main.content  .profession-text {
     font-size:1.1rem;
     max-width:280px;
     text-align: center;
     line-height:30px;
    }

    button.botao-form {
        font-size: 0.8rem;
    
    }

    button.botao-form i {
        font-size: 0.8rem;
    }

    .title-about {
      font-size:2rem;
     }

     .title-project {
        font-size:2rem;
     }

    .title-contact {
     font-size:2rem;
   }

   .text-footer {
    font-size:1rem;
    font-weight:normal;
    text-align:center;
    }

}

/*****/
